/* google font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700;900&display=swap');
@import url(../reset.css);

body{
    font-family: 'Noto Sans KR', sans-serif;  
    text-align: center; 
}

h1{
    font-size: 2rem;
    font-weight: 700;
    margin: 50px 0;
}
h2{
    font-size: 1.7rem;
}
h4{
    font-size: 1.4rem;
}
.imgBox{
    position: relative;
    
}
#btn_detail{
    font-size: 20px;
    padding: 20px;
    display: block;
    margin: 20px auto;

}

.box_description{
    line-height: 1.5;
}

.box_description button{
    margin: 3px;
}

.box_description .img1{
    width: 80%;
}

.box_description .img2{
    width: 80%;
    object-fit: contain;
}

.box_reserve_date{
    line-height: 1.5;
}



.productImg{
    width:60%;
    padding: 0 20%;
    margin: -1px;
    object-fit: cover; 
}
@media screen and (max-width: 600px) {

    .productImg{
        width: 100%;
        padding: 0;
        margin: -1px;
    }
}

.product_list{
    margin-top :20px;
}
.imgBox .imgCaption{
    /* position:absolute; */
    /* right: 20%; */
    /* bottom: 10px; */
    /* text-align:end; */
    line-height: 1.4;
    width: 80%;
    margin:20px auto;
    /* background-color: red; */
    /* left:40%; */
}
.imgBox .imgCaption h2:nth-child(1){
    font-weight: 700;
}

.imgBox .imgCaption h4,h6{
    margin: 0px;
}
.imgBox .imgCaption h6{
    color: rgb(40, 40, 40);
    opacity: 0.8;
}
select{
    margin-bottom: 35px;
}

#priceTag{
    position: fixed;
    /* top:100px; */
    left:5%;
    bottom: 10%;
    text-align: left;
    z-index: 20;
    background-color: #3a4e5ff2;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
@media screen and (max-width: 600px) {

    #priceTag{
        left:3%;
        bottom:20px;
    }
}

#btn_submit{
    margin-top: 20px;
    /* margin-bottom: 150px; */
}
#orderBox{
    margin-bottom: 150px;
}
label{
    font-size: 1.5rem;
    /* margin : 0 80px; */
    font-weight: 700;
}

input{
    font-size: 1.2rem;
    margin : 10px 0;
}
select{
    /* margin : 10px 0; */
}
h5{
    font-size: 0.8rem;
}
#result{
    line-height: 1.5;
    margin-top : 40px;
    padding-bottom: 100px;
}
#result h4,p{
    margin : 10px 0px;
}
.none{
    display: none;
}
.dsc{
    line-height: 1.5; 
    width: 90%; 
    margin: 10px auto; 
    font-size: 1.0rem;
}

@media screen and (max-width: 600px) {

    .imgBox .imgCaption h4,h6{
        font-size: 0.9rem;
        
    }
}

select{
    font-size: 20px;
}



@media screen and (min-width: 1200px) {
    img{
        width: 36%!important;
    }
}


/* gosari */
.gosariBox{
    margin-bottom: 40px;
}


.gosariBox .imageBox{
    display: flex;
    width: 70%;
    margin: auto;
}
.gosariBox .imageBox img{
    object-fit: cover;
    width: 33%;
    height: 200px;
    margin:0.33%;
}
.summary_order{
    margin-bottom: 40px;
}
